/.build/
/_build/
/Build
/blib

/.carton/
/carton.lock
/cpanfile.snapshot
/local/

nytprof.out
nytprof/

cover_db/

tidyall.ERR

*.bak
*.old
*~
*.swp
*.o
*.obj
.tidyall.d

!LICENSE

MYMETA.*

/OrePAN2-*
/.build
/_build_params
!Build/
!META.json
